.wrapper {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.product-attribute {

}

.attribute-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
}

.attribute-values {
    list-style-type: none;
    margin: 0px 10px;
}

.attribute-value {

}