.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // background-color: aqua;
    padding: 20px 0px;
    color: var(--primary-color-text);
}

.notify {
    position: fixed;
    z-index: 1;
    top: var(--default-layout-header-height);
    right: 10px;
    transform: translate(0%, 0%);
    min-width: 300px;
    height: calc(0.6 * var(--default-layout-header-height));
    background-color: var(--primary-color);
    animation: notifyAppear 5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px var(--primary-color-shadow-1);
    font-size: 1.6rem;
    color: var(--green-color-1);
    font-weight: 500;
    opacity: 0;
}

.variations {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.variations > p {
    font-size: 2.2rem;
    font-weight: 500;
}

.product-attribute {
    display: flex;
    flex-direction:column;
    margin: 10px 0px;
}

.attribute-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
}

.attribute-values {
    list-style-type: none;
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.attribute-value {
    text-transform: capitalize;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: var(--primary-background-color-variant-value);
    max-width: 40%;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid var(--primary-border-color-variant-value);
    cursor: pointer;
    color: var(--primary-color-text);
    box-shadow: 0px 2px 2px var(--primary-color-shadow-1);
    user-select: none;
}

.attribute-value:hover {
    // background-color: var(--primary-background-color-variant-value-hover);
    box-shadow: 0px 3px 6px var(--primary-color-shadow-1);
}

.attribute-value-selected {
    background-color: var(--primary-background-color-variant-value-selected);
    cursor: pointer;
    box-shadow: 0px 4px 6px var(--primary-color-shadow-1);
    transform: translate(0px, -3px);
}

.attribute-value-selected:hover {
    background-color: var(--primary-background-color-variant-value-selected);
    box-shadow: 0px 4px 6px var(--primary-color-shadow-1);
}

.attribute-value-unable {
    background-color: var(--primary-background-color-variant-value-unabled);
    cursor: default;
    color: var(--primary-text-color-variant-value-unabled);
    border: 1px solid var(--primary-text-color-variant-value-unabled);
    box-shadow: 0px 0px 0px var(--primary-color-shadow-1);
}

.attribute-value-unable:hover {
    background-color: var(--primary-background-color-variant-value-unabled);
    box-shadow: 0px 0px 0px var(--primary-color-shadow-1);
}


.price {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-top: 20px;
    padding: 10px 10px;
    align-items: center;
    width: auto;
    color: var(--primary-background-color-variant-value-selected);
    border: 2px solid var(--primary-border-color-variant-value);
}

.price > p:nth-child(1) {
    padding-right: 20px;
}


// Quantity
.quantity {
    display: flex;
    width: 100%;
    height: 100px;
    // background-color: #efc8c8;
    align-items: center;
}

.quantity > p {
    padding-right: 20px;
    font-size: 1.8rem;
    font-weight: 500;
}

.quantity-controller {
    width: 40px;
    height: 40px;
    * {
        font-size: 2.2rem;
    }
    transition: 0.5s;
}
.quantity-value {
    padding: 0px 15px;
    height: 40px;
    font-size: 2.2rem;
    border: 1px solid var(--primary-border-color-variant-value);
    cursor: default;
}


// Order or Cart
.order-or-cart {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.order-or-cart-item {
    height: 100%;
    width: 45%;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 2px var(--primary-color-shadow-1);
    transition: 0.5s;
}

.order-or-cart-item:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 3px 6px var(--primary-color-shadow-1);
}

.order-or-cart-item > :nth-child(1) {
    min-height: 30px;
    min-width: 30px;
    width: auto;
    color: var(--primary-color-item);
    * {
        transition: 0.5s;
    }
}

.order-or-cart-item > :nth-child(2) {
    color: var(--primary-color-item);
    padding: 0px 20px;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.5s;
}

.order-or-cart-item:hover {
    * {
        color: var(--primary-color-item-hover);
    }
}

.order-or-cart-not-active {
    cursor: default;
    color: var(--primary-text-color-variant-value-unabled);
    border: 1px solid var(--primary-text-color-variant-value-unabled);
    box-shadow: 0px 0px 0px var(--primary-color-shadow-1);
    background-color: var(--primary-background-color-variant-value-unabled);
}

.order-or-cart-not-active:hover {
    transform: translate(0px, 0px);
    background-color: var(--primary-background-color-variant-value-unabled);
    box-shadow: 0px 0px 0px var(--primary-color-shadow-1);
    * {
        color: var(--primary-color-item);
    }
}


@keyframes notifyAppear {
    0% {
        transform: translate(80%, 300%);
        opacity: 1;
    }
    5% {
        transform: translate(0%, 300%);
        opacity: 1;
    }
    30% {
        transform: translate(0%, 200%);
        opacity: 1;
    }
    90% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}