.wrapper {
    height: 100%;
}

.image {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;   
}

.image > * {
    animation: animationIn var(--slider-duration) infinite;
}

@keyframes animationIn {
    0% {
        // transform: translateX(100%);
        opacity: 0;
    }
    30% {
        opacity: 1;
        // transform: translateX(0%);

    }
    90% {
        opacity: 1;
        // transform: translateX(0%);

    }
    100% {
        opacity: 0;
        // transform: translateX(-100%);
    }
}