.wrapper {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1250px;
    background-color: rgb(183, 206, 229);
    height: calc(var(--default-product-height) + 80px);
}

.container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #886161;
    flex-wrap: wrap;
    overflow: hidden;    
}

.categoryName {
    padding-left: 10px;
}

.products {
    height: calc(var(--default-product-height) + 30px);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: #b48282;
    margin-top: 10px;
    transition: 1s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.left {
    width: 50px;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.right {
    width: 50px;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;

}

