.wrapper {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1250px;
    background-color: transparent;
    height: calc(var(--default-product-height) + 80px);
    color: var(--primary-color-text);

}

.container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 1s;  
}

.categoryName {
    padding-left: 20px;
}

.products {
    height: calc(var(--default-product-height) + 30px);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    transition: 0.5s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    translate: 0px;
}

.left {
    width: 50px;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.right {
    width: 50px;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

