@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
    // Colors
    --black-color-1: #000000;
    --gray-color-1: #333333;
    --gray-color-2: #606060;
    --gray-color-3: #808080;
    --gray-color-4: #C0C0C0;
    --gray-color-5: #F2F2F2;
    --white-color-1: #ffffff;
    --green-color-1: #32CD32;
    --primary-color: var(--gray-color-3);
    --primary-color-item: var(--white-color-1);
    --primary-color-text: var(--gray-color-2);
    --primary-color-item-hover: var(--green-color-1);
    --primary-color-background: var(--white-color-1);
    --primary-color-shadow: var(--black-color-1);
    
    // Sizes
    --default-layout-header-height: 90px;
    --default-layout-width: 1150px;
    --default-product-width: 250px;
    --default-product-height: 400px;
    --default-product-margin-right: 30px;
    
    // Time
    --slider-duration: 20s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Audiowide", cursive;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}