@import 'normalize.css';

:root {
    // Colors
    --primary-color: rgb(23, 36, 48);

    // Sizes
    --default-layout-header-height: 70px;
    --default-layout-width: 1150px;

    // Time
    --slider_duration: 20s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}