.wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    animation-name: animationIn;
    animation-duration: var(--slider_duration);
}

@keyframes animationIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// @keyframes animationOut {
//     0% {
//         opacity: 1;
//         display: "block";
//     }
//     100% {
//         opacity: 0;
//         display: "none";
//     }
// }