:root {
    --min-width: 750px;
}

.wrapper {
    width: 100%;
    // height: 1000px;
    min-width: var(--min-width);
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.product-main {
    display: flex;;
    width: 100%;
    background-color: antiquewhite;
    margin: 40px 0px;
}

.product-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 32vw;
    min-height: calc(0.32 * var(--min-width));
    background-color: beige;
}

.product-image-showing {
    height: 28.8vw;
    min-height: 90%;
    width: 90%;
    background-color: aqua;
}

.product-content {
    flex: 1;
    padding: 10px 40px;
}

.product-content > * {
    margin: 20px 0px;
    text-align: justify;
}


.product-content > p:nth-child(1) {
    font-size: 2.4rem;
    margin-top: 5%;
    font-weight: 600;
}

.product-content > p:nth-child(2) {
    font-size: 1.8rem;
}

.product-variations {
    width: 100%;
    // height: 300px;
    background-color: beige;
}










.product-details {
    margin: 40px 0px;
    width: 100%;
    height: 700px;
    background-color: aquamarine;
}