.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 20vh;
    background-color: rgb(215, 221, 209);
}