.wrapper {
    width: 100%;
    height: 1000px;
    background-color: var(--primary-color-background);
    overflow: hidden;
}

.back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 100px;
    height: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: var(--primary-color-text);
    p {
        padding-left: 10px;
    }
}

.back:hover {
    color: var(--primary-color-item-hover)
}

.container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // background-color: rgb(68, 117, 166);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    // background-color: antiquewhite;
}

.default-background-image {
    width: 100%;
    height: 70%;
    background-color: var(--gray-color-2);
    border-radius: 10px;
}

.portrait-and-name {
    display: flex;
    width: 100%;
    height: 30%;
    // background-color: bisque;
    justify-content: start;
    align-items: center;
}

.portrait {
    display: flex;
    height: 200%;
    width: 180px;
    transform: translate(20px, -25%);
    border-radius: 50%;
    border: 10px solid #fff;
    cursor: pointer;
    * {
        border-radius: 50%;
    }
    overflow: hidden;
}

.nickname {
    font-size: 3.0rem;
    font-weight: 600;
    transform: translate(40px, 0px);
}

.edit-portrait {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(35%, 100%);
    cursor: pointer;
    transition: 0.3s;
    * {
        width: 30%;
        height: 30%;
    }
}

.button-choose-portrait {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.portrait:hover {
    .edit-portrait {
        transform: translate(35%, 60%);
        color: var(--primary-color-item-hover)
    }
    .button-choose-portrait {
        cursor: pointer;
    }
}

.body {
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 500px;
    // background-color: aqua;
}

.options {
    list-style: none;
    width: 200px;
    border-right: 2px solid #000;
    li {
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--primary-color-text);
        padding: 10px 5px;
        margin: 10px 0px;
        margin-right: 5px;
        transition: 0.5s;
        border-radius: 3px;
    }
    border-radius: 5px;
}
.options > li:hover {
    color: var(--primary-color-item-hover);
}

.option-details {
    position: relative;
    display: flex;
    // background-color: rgb(152, 182, 172);
    flex: 1;
    border-left: 2px solid #000;
    margin-left: 2px;
    border-radius: 5px;
}

.option-detail {
    position: absolute;
    left: 0px;
    z-index: 1;
    margin-left: 10px;
    padding-left: 20px;
    display: flex;
    animation: viewIn 1s ease-in-out;
    width: 100%;
    height: 100%;
    border-left: 5px solid #ffffff;
    border-radius: 5px;
}


.selected-option {
    box-shadow: -5px 0px 5px var(--primary-color-shadow-1) ;
    transform: translate(2px, 0px);
}

.hidden {
    display: none;
    z-index: 0;
    animation: viewOut 1s ease-in-out;
}

@keyframes viewIn {
    0% {
        transform: translate(100%, 0%);
        z-index: 1;
        border-left: 5px solid #000;
    }
    100% {
        transform: translate(0%, 0%);
        z-index: 1;
        border-left: 5px solid #ffffff;
    }
}

@keyframes viewOut {
    0% {
        opacity: 1;
        z-index: 0;
        transform: translate(0%, 0%);
        display: block;
    }
    100% {
        opacity: 0;
        z-index: 0;
        transform: translate(100%, 0%);
        display: none;
    }
}

