.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 2px var(--primary-color);
}

.logo {
    height: calc(0.8 * var(--default-layout-header-height));
    width: calc(0.8 * var(--default-layout-header-height));
    margin-left: 20px;
}


.buttonLogin {
    display: flex;
    flex-direction: column;
    height: calc(0.7 * var(--default-layout-header-height));
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
    * {
        color: var(--primary-color-item);
        transition: 0.3s;
    }
}

.buttonLogin > *:first-child {
    width: 60%;
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.textLogin {
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: center;
}

.buttonLogin:hover {
    cursor: pointer;
    text-decoration: none;
    * {
        color: var(--primary-color-item-hover);
    }
}

.user-profile {
    height: calc(0.8 * var(--default-layout-header-height));
    width: calc(0.8 * var(--default-layout-header-height));
    margin-right: 20px;
}

.hidden {
    display: none;
}
