.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 2px var(--primary-color);
}

.logo {
    height: calc(0.8 * var(--default-layout-header-height));
    width: calc(0.8 * var(--default-layout-header-height));
    margin-left: 20px;
    margin-right: 20px;
}


.buttonLogin {
    display: flex;
    flex-direction: column;
    height: var(--default-layout-header-height);
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-decoration: none;
    * {
        color: var(--primary-color-item);
        transition: 0.3s;
        user-select: none;
    }
}

// .buttonLogin:first-child {
//     height: 60%;
// }

.textLogin {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 2.0rem;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    margin-left: 10px;
    > li {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.buttonLogin:hover {
    cursor: pointer;
    text-decoration: none;
    * {
        color: var(--primary-color-item-hover);
        border-color: var(--primary-color-item-hover);
    }
}

.nav {
    display: flex;
    height: var(--default-layout-header-height);
    flex: 1;
    justify-content: center;
    align-items: center;
    // background-color: #fff;
    list-style-type: none;
    > li {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2.0rem;
        font-weight: bold;
        color: var(--primary-color-item);
        user-select: none;
        cursor: pointer;
        transition: 0.5s;
        * {
            text-decoration: none;
            color: var(--primary-color-item);
            transition: 0.5s;
        }
    }
    > li:hover {
        color: var(--primary-color-item-hover);
        * {
            color: var(--primary-color-item-hover);
        }
    }
}

.user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(0.5 * var(--default-layout-header-height));
    width: calc(0.5 * var(--default-layout-header-height));
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    > :nth-child(1) {
        border-radius: 50%;
    }
    > :nth-child(1):hover ~ :nth-child(2) {
        color: var(--primary-color-item-hover)    
    }
    > :nth-child(2) {
        color: var(--primary-color-item);
        transition: 0.5s;
    }
    > :nth-child(2):hover {
        color: var(--primary-color-item-hover)    
    }
}


.user-profile-options {
    position: absolute;
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    right: 20px;
    top: calc(var(--default-layout-header-height) + 10px);
    background-color: #fff;
    list-style-type: none;
    * {
        text-decoration: none;
    }
    > li {
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        * {
            color: var(--black-color-1);
        }
    }
    > li:hover {
        color: var(--primary-color-item-hover);
        * {
            color: var(--primary-color-item-hover);
        }
    }
    box-shadow: 0px 5px 20px var(--primary-color-shadow-1);
    animation: fadeIn 0.5s;
}


.hidden {
    display: none;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0px, -20px);
        box-shadow: 0px 0px 0px var(--primary-color-shadow-1);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        box-shadow: 0px 5px 20px var(--primary-color-shadow-1);
    }
}