.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--gray-color-1);
    opacity: 0.7;
    z-index: 10;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20vh;
    // background-color: var(--primary-color-background);
    background-color: var(--white-color-1);
    // height: 2000px;
    min-height: 1000px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    margin-left: 10%;
    background-color: rgba(199, 65, 79, 0.333);
}

.categories-list-title {
    p {
        // text-align: center;
        font-size: 2.6rem;
        font-weight: 700;
    }
}

.categories-list-items {
    
}

.categories-list-item {
    cursor: pointer;
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    .categories-list-item-name {
        position: relative;
        display: flex;  
        align-items: center;
        height: 50px;
        width: 100%;
        padding-left: 5px;
        background-color: #a35656;
        transition: 0.5s;
        .link {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .categories-list-item-children {
        // position: absolute;
        // width: 100%;
        // height: 50px;
        // transform: translate(100%, -50px);
        // width: 100%;
        width: 100%;
        position: absolute;
        margin-left: 100%;
    }
}



.products-view {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: transparent;
}

.products-view-filter {
    width: 100%;
    height: 100px;
    background-color: rgb(178, 210, 210);
}

.products-view-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: transparent;
    width: 100%;
}

.hidden {
    display: none;
}

.categories-list-item-name:hover {
    background-color: aqua;
}

.categories-list-item-name:hover ~ .categories-list-item-children{
    display: block;
}

.categories-list-item-children:hover {
    display: block;
}